.sidebar {
    position: sticky;
    top: 10px;
    align-self: flex-start;    
    display: flex;
    flex-direction: column;
    width: 356px;
    padding: 44px 21px;
    background-color: #fff;
    border: 1px solid #c5ec2a;
    border-radius: 0 20px 20px 0;
    -webkit-box-shadow: 0 10px 150px rgba(51, 51, 51, .15);
    box-shadow: 0 10px 150px rgba(51, 51, 51, .15);
}

.sidebar--catalog {
    padding: 42px 22px 60px;
}