.slider-section {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  padding-bottom: 60px;
}

.slider-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.slider-title {
  margin: 0;
  margin-right: 40px;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: #181818;
}

.slider-button {
  flex-shrink: 0;
  margin-right: 40px;
}

.slider-controls {
  display: flex;
  margin-left: auto;
}

.slider-control {
  margin-right: 15px;
}

.slider-control:last-child {
  margin-right: 0;
}

.slider-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  margin-right: 20px;
}

.slider-item:last-child {
  margin-right: 0;
}

/* Modifiers for Popular Trainings */
.popular-trainings .slider-wrapper {
  padding-bottom: 60px;
}

.popular-trainings .slider-title {
  margin-right: 40px;
}

.popular-trainings .slider-button {
  margin-right: 40px;
}

.popular-trainings .slider-controls {
  margin-left: auto;
}

.popular-trainings .slider-item {
  margin-right: 20px;
}

/* Modifiers for Look for Company */
.look-for-company .slider-wrapper {
  padding-top: 48px;
  padding-bottom: 70px;
}

.look-for-company .slider-title-wrapper {
  justify-content: space-between;
}

.look-for-company .slider-title {
  margin-right: 20px;
  color: #181818;
}

.look-for-company .slider-controls {
  margin-left: auto;
}

.look-for-company .slider-item {
  margin-right: 20px;
}

.look-for-company .slider-item:last-child {
  margin-right: 0;
}

/* Additional styles if needed */
.special-offers__wrapper {
  display: flex;
  padding-bottom: 70px;
}
